{%extends 'enactus-template/base.html'%}
{%load static%}
{%block title%}enactus | about{%endblock%}
{% block content%}

<section class="banner">
        <div class="container text-center about">
           <h2>About Us </h2>
        </div>
    </section>
    <section class="about-enact">
    <div class="container">
        <div class="row">
           <div class="col-md-6">
               <img src="{% static 'img/enactus8.jpg'%}" class="" />
           </div>
           <div class="col-md-6 overview">
               <h2>Our story</h2>
               <p>
ENACTUS is an international non-profit organization that bring together student, academic and business leaders who are committed to using the power of entrepreneurial action to improve the quality of life and standard 
of living for people in need.It has a triangular shape which comprise of student,Faculty officer
 and Business Advisory Board.Participating students form teams on their university campuses and
  apply business concepts to develop outreach projects that improve the quality of life and 
  standard of living for people in need. An annual national competition provides a forum for teams to present the results of their projects, and to be evaluated by business leaders serving as judges. National champion teams advance to the prestigious ENACTUS World Cup.<br> In addition to the community aspect of the program, ENACTUS leadership and career initiatives create opportunities for learning and exchange among the participants as well as the placement of students and alumni with companies in search of emerging talent.

</p>
<!-- <h2>History of ENACTUS world</h2>
<p>
ENACTUS was established in 1975 in the United States. The founder of ENACTUS was Robert T. Davis, a lawyer from Texas. He founded ENACTUS on behalf of the National Leadership Institute. ENACTUS was originally a regional leadership training program attended by university students who were required to teach their communities what they had learned. Eventually, these university students were judged competitively on the outcomes of their efforts. The principle remains the same today but the scope has been broadened to encompass both teaching and learning through practical application of knowledge and skills gained at university, in the wider community by means of student-designed outreach projects. In Ghana ,ENACTUS was formed in the year 2000 as SIFE Ghana(Student In Free Enterprise) in over sixteen active tertiary institution of which our university is not excluded, 
with 2500 students working with a number of communities and institution across the country.
</p> -->
       </div>
        </div>
    </div>
</section>

<section class="about-udenact">
    <div class="container">
        <div class="row">
            <div class="col-md-6 overview">
                <h2>UDS Enactus Our story</h2>
                <p>ENACTUS UDS is one of the active teams among the sixteen active teams operating in ENACTUS Ghana, it existed on campus
                for the past years.it was found by a group of intellectual student on campus that share the mission of ENACTUS, that
                is the idea of bringing together leaders of today and tomorrow to create a better and more sustainable world through the
                positive power of business. ENACTUS UDS has been publishing the name of the university every year, they have taken part
                in almost all the national competition every year. we have been able to make it to finals on several occassions and this year we got second position
               in the national competition. And for now we hope to take the trophy in the year coming.</p>
            </div>
            <div class="col-md-6">
                <img src="{% static 'img/enactus5.jpg'%}" class="" />
            </div>
        </div>
    </div>
</section>
<section class="enact-comp">
    <div class="container">
         <div class="row">
             <div class="col-md-6 competition">
                 <h2>National Competition</h2>
                 <p>The ENACTUS programme year ends with the overall competition. This process provides teams with the opportunity to
                present their outreach projects to a panel of judges who evaluate those projects and determine which teams had the most
                impact improving the quality of life and standard of living for members of their community. This competitive process
                creates a “best-practice” sharing environment and is aimed at fostering a healthy spirit of competition, which
                encourages and rewards excellence. Every country that operates an ENACTUS programme, at minimum, organises a national
                competition, from which one institution will be named national champion and advance to compete at the ENACTUS World Cup.
                Countries that operate large ENACTUS programmes may host a series of regional competitions to narrow down the number of
                teams eligible to compete at their national competition. In every country around the world, and at each level of the
                overall competition, the format, rules and judging criteria remain the same.</p>
             </div>
             <div class="col-md-6 competition operate">
                 <h2>OPERATING MODEL</h2>
                 <p>ENACTUS projects are undertaken by highly dedicated student teams of more than 1,600 university campuses in 36
                countries.ENACTUS offers these students the opportunity to develop leadership, teamwork and communication skills through
                learning, practicing and teaching the principles of entrepreneur, in hopes of improving the standard of living for
                millions in the process. Guided by distinguished faculty advisors and supported by businesses around the globe, ENATUS
                Teams teach important concepts through educational outreach projects, including market economics, entrepreneurship,
                personal and financial success, and business ethics to better themselves, their communities and their countries. Each
                year, ENACTUS competitions are held worldwide, drawing together thousands of students and business leaders to pay
                tribute to these educational outreach projects.</p>
             </div>
         </div>
    </div>
</section>
{%endblock%}