{%extends 'enactus-template/base.html'%}
{%load static%}
{%block title%}enactus | gallary{%endblock%}
{% block content%}
<section class="banner">
        <div class="container text-center about">
           <h2>Enactus UDS Our Gallary </h2>
        </div>
    </section>
  <section class="gallery-block compact-gallery">
    	<div class="container">
    		<div class="row no-gutters">
				{% for img in image_list %}
    			<div class="col-md-6 col-lg-4 item zoom-on-hover">
    				<a class="lightbox" href="{{img.image.url}}">
    					<img class="img-fluid image" src="{{ img.image.url }}">
    					<span class="description">
    						<span class="description-heading">{{img.title}}</span>
    					</span>
    				</a>
    			</div>
    			
    			{%endfor%}
    			<!-- <div class="col-md-6 col-lg-4 item zoom-on-hover">
    				<a class="lightbox" href="{% static 'img/enactus8.jpg'%}">
    					<img class="img-fluid image" src="{%static 'img/enactus8.jpg'%}">
    					<span class="description">
    						<span class="description-heading">Lorem Ipsum</span>
    					</span>
    				</a>
    			</div>
    			
    			
    			<div class="col-md-6 col-lg-4 item zoom-on-hover">
    				<a class="lightbox" href="{% static 'img/enactus5.jpg'%}">
    					<img class="img-fluid image" src="{% static 'img/enactus5.jpg'%}">
    					<span class="description">
    						<span class="description-heading">Lorem Ipsum</span>
    					</span>
    				</a>
    			</div>
    			
    			<div class="col-md-6 col-lg-4 item zoom-on-hover">
    				<a class="lightbox" href="../assets/img/enactus1.jpg">
    					<img class="img-fluid image" src="{% static 'img/enactus1.jpg'%}">
    					<span class="description">
    						<span class="description-heading">Lorem Ipsum</span>
    					</span>
    				</a>
    			</div>
    			
    			
    			<div class="col-md-6 col-lg-4 item zoom-on-hover">
    				<a class="lightbox" href="{% static 'img/enactus10.jpg'%}">
    					<img class="img-fluid image" src="{% static 'img/enactus10.jpg'%}">
    					<span class="description">
    						<span class="description-heading">Lorem Ipsum</span>
    						
    					</span>
    				</a>
    			</div>
    			
    			
    			<div class="col-md-6 col-lg-4 item zoom-on-hover">
    				<a class="lightbox" href="{% static 'img/enactus2.jpg'%}">
    					<img class="img-fluid image" src="{% static 'img/enactus2.jpg'%}">
    					<span class="description">
    						<span class="description-heading">Lorem Ipsum</span>
    						
    					</span>
    				</a>
    			</div>
    			
    			<div class="col-md-6 col-lg-4 item zoom-on-hover">
    				<a class="lightbox" href="{% static 'img/enactus3.jpg'%}">
    					<img class="img-fluid image" src="{% static 'img/enactus3.jpg'%}">
    					<span class="description">
    						<span class="description-heading">Lorem Ipsum</span>
    						
    					</span>
    				</a>
    			</div>
    			
    			<div class="col-md-6 col-lg-4 item zoom-on-hover">
    				<a class="lightbox" href="{% static 'img/enactus4.jpg'%}">
    					<img class="img-fluid image" src="{% static 'img/enactus4.jpg'%}">
    					<span class="description">
    						<span class="description-heading">Lorem Ipsum</span>
    						
    					</span>
    				</a>
    			</div>
    			
    			<div class="col-md-6 col-lg-4 item zoom-on-hover">
    				<a class="lightbox" href="{% static 'img/enactus9.jpg'%}">
    					<img class="img-fluid image" src="{% static 'img/enactus9.jpg'%}">
    					<span class="description">
    						<span class="description-heading">Lorem Ipsum</span>
    						
    					</span>
    				</a>
    			</div> -->
    		</div>
    	</div>
    </section>

{%endblock%}
