{%extends 'enactus-template/base.html'%}
{%load static%}
{%block title%}enactus | home{%endblock%}
{% block content%}

<section class="banner">
        <div class="container text-center">
            <h5>Welcome to </h5>
            <h2 class="title">Enactus <span>Uds</span> <span>Navrongo</h2>
            <h3>"Together we are the Developers"</h3>
            <a href="#" data-toggle="modal" data-target="#exampleModal" class="take-act">Take Action</a>
            <a href="/about" class="learn-mor">Learn More</a>
        </div>
        
    </section>
    <section class="stats">
         <div class="container">
                <div class="page-header">
                    <h1>We are a community of student, academic,<br> and business leaders.</h1>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="stats-box">
                            <h1><span><i class="fa fa-flag"></i></span></h1>
                            <h1>
                            </h1>
                            <h3>36</h3>
                            <h4>COUNTRIES</h4>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="stats-box active-sta">
                            <h2><span class="fa fa-folder-open" aria-hidden="true"></span></h2>
                            <h3>1730</h3>
                            <h5>UNIVERSITY PROGRAM</h5>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="stats-box">
                            <h1><span>
                                    <i class="fa fa-users"></i>
                                </span></h1>
                            <h1>
                            </h1>
                            <h3>7200</h3>
                            <h5>STUDENT MEMBERS ANUALLY</h5>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="stats-box active-sta">
                            <h2><span class="fa fa-home"></span></h2>
                            <h3>550</h3>
                            <h6>CORPORATE ORGANIZATION &amp; INDIVIDUAL PARTNERS</h6>
                        </div>
                    </div>
                </div>
         </div>
    </section>
<section>
    <div class="row text-center" id="enactus-well">
        <div class="col-md-6 p-3">
            <img src="{% static 'img/173018_552_enactus.jpg' %}" class="img-responsive">
        </div>
        <div class="col-md-6 ml-20 p-3">
            <h2>WHAT IS ENACTUS?</h2>
        </div>
    </div>
</section>
<section class="about-enact">
    <div class="container">
        <div class="row">
           <div class="col-md-6">
               <img src="{% static 'img/enactus8.jpg'%}" class="" />
           </div>
           <div class="col-md-6 overview">
               <h2>Our story</h2>
               <p>ENACTUS is an international non-profit organization that bring together student, academic and business leaders who are
            committed to using the power of entrepreneurial action to improve the quality of life and standard of living for people
            in need.It has a triangular shape which comprise of student,Faculty officer and Business Advisory Board.Participating
            students form teams on their university campuses and apply business concepts to develop outreach projects that improve
            the quality of life and standard of living for people in need.</p>
            <a href="/about" class="btn px-5 py-2">Read more</a>
           </div>
        </div>
    </div>
</section>
 <!-- <section class="enactus-videos">
    <h2>Latest Enactus videos</h2>
    <div class="container">
        <video controls="" width="">
            <source src="../assets/img/file.mp4" type="video/mp4">
            your browser does not support video tag
        </video>
    </div>
</section> -->
 <section class="blog">
     <div class="title">
        <h2>Enactus Latest News</h2>
        <p>Don't missed the action</p>
     </div>
    <div class="bd-example">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'img/UI4.jpg' %} " alt="...">
                    <div class="carousel-caption ">
                        <h5>{{object_list.title}}</h5>
                        <small>WRITTEN By: Iddrisu Sumaila</small>
                        <p>ENACTUS was established in 1975 in the United States. The founder of ENACTUS was Robert T. Davis, a lawyer from Texas.
                                He founded ENACTUS on behalf of the National Leadership Institute..</p>
                        <a href="#" class="btn px-4 py-2">continue..</a>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/UI3.jpg' %}" alt="...">
                    <div class="carousel-caption">
                        <h5>Second slide label</h5>
                        <small>WRITTEN By: Iddrisu Sumaila</small>
                        <p>ENACTUS was established in 1975 in the United States. The founder of ENACTUS was Robert T. Davis, a lawyer from Texas.
                        He founded ENACTUS on behalf of the National Leadership Institute..</p>
                        <a href="#" class="btn px-4 py-2">continue..</a>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/enactus8.jpg' %}">
                    <div class="carousel-caption ">
                        <h5>Third slide label</h5>
                        <small>WRITTEN By: Iddrisu Sumaila</small>
                        <p>ENACTUS was established in 1975 in the United States. The founder of ENACTUS was Robert T. Davis, a lawyer from Texas.
                        He founded ENACTUS on behalf of the National Leadership Institute...</p>
                        <a href="#" class="btn px-4 py-2">continue..</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Send Us a message</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                   <label for="recipient-name" class="col-form-label">Email:</label>
                   <input type="text" class="form-control" id="recipient-name">
                </div>
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Subject:</label>
                  <input type="text" class="form-control" id="recipient-name">
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Message:</label>
                  <textarea class="form-control" id="message-text"></textarea>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              
              <button type="button" class="btn btn-primary">Send message</button>
            </div>
          </div>
        </div>
      </div>
{% endblock%}
